            p{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: 100;
                
            }
            .p1 {font-size: 35px;
                color:blueviolet;
                font-weight: bold;
                font-size: 40px;
                text-align: center;
                line-height: 30px;
                margin-bottom: 20px;
                
                }
            .p2{color:rgb(238, 138, 15);
                font-size: 20;
                text-align: center;
                margin-bottom: 50px;
            }
            .apple {
                margin-bottom: 20px;
                background-color: rgb( 227, 65, 64);
                box-sizing: border-box;
                color:rbg (255,255,255);
                font: 18px;
                font-weight: 400;
                line-height: 21px;
                margin-block-end: 16px;
                margin-block-start: 0px;
                margin-inline-end: 8px;
                margin-inline-start: 8px;
                margin-left: 8px;
                margin-right: 8px;
                margin-top:0px;
                padding-bottom: 16px;
                padding-top:16px;
                padding-left:16px;
                padding-right:16px;
                text-align: center;
                
            }
        
        
            .aboutus{
            background-color: rebeccapurple;
            color: white;
            border-color:rgb(14, 15, 17);
            border-style: solid;
            border-width: 5px;
            border-radius: 10px;
            cursor: pointer;
            height: 70px;
            width: 110px;
            font-weight: bold;
            font-size: 15px;
            margin-left: 55px;
            margin-right: 20px;
            margin-top: 0px;
            transition: background-color 1s,color 1s,width 1s;}
        
            .aboutus:hover{
                background-color: white;
                color: rebeccapurple;
                width: 130px;
                }
            .academics {
            background-color: rebeccapurple;
            color: white;
            border-color:rgb(14, 15, 17);
            border-style: solid;
            border-width: 5px;
            border-radius: 10px;
            height: 70px;
            width: 110px;
            cursor: pointer;
            font-weight: bold;
            font-size: 15px;
            margin-right: 20px;
            transition: background-color 1s,color 1s,width 1s;
            }
            .academics:hover {
                background-color: white;
                color: rebeccapurple;
                width: 130px;
                }
        
            
            .social {
            background-color: rebeccapurple;
            color: white;
            border-color:rgb(14, 15, 17);
            border-style: solid;
            border-width: 5px;
            border-radius: 10px;
            height: 70px;
            width: 110px;
            cursor: pointer;
            font-weight: bold;
            font-size: 15px;
            margin-right: 20px;
            transition: background-color 1s,color 1s,width 1s;
            }
            .social:hover {
                background-color: white;
                color: rebeccapurple;
                width: 130px;
                }
            .funds {
            background-color: rebeccapurple;
            color: white;
            border-color:rgb(14, 15, 17);
            border-style: solid;
            border-width: 5px;
            border-radius: 10px;
            height: 70px;
            width: 175px;
            cursor: pointer;
            font-weight: bold;
            font-size: 15px;
            margin-top:10px;
            margin-right: 20px;
            transition: background-color 1s,color 1s,width 1s;
            }
        
            .funds:hover {
                background-color: white;
                color: rebeccapurple;
                width: 200px;
            }
        
        